input {
  background: transparent;
  border: none;
  border-bottom: 1px solid #000000;
  padding: 2px 5px;
}
.fieldset-style {
  border: 2px solid black;
  margin-left: 30%;
  margin-right: 30%;
  padding: 10px;
}
